@*@model IEnumerable<PortalFibrobeton.Models.Entity.Tbl_Taramalar>*@
@model PortalFibrobeton.Models.Class.Tarama.TaramaViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/ScanLayout.cshtml";
}

<head>
    <title>FibroSCAN - Ana Sayfa</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/quixlab-master/quixlab-master/images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="~/quixlab-master/quixlab-master/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/quixlab-master/quixlab-master/css/style.css" rel="stylesheet">


</head>

<style>
    .bold {
        font-weight: bold;
        color: black;
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-1">
                <div class="card-body">
                    <h3 class="card-title text-white">Toplam Tarama <span class="pull-right" style="font-size:14px; color:lightgray; -webkit-transform: rotate(+30deg); margin-bottom:10px;">Bugün</span></h3>
                    <div class="d-inline-block">
                        <h2 class="text-white"> @Model.TodayResults.Select(a => a.PozBarkodT).Count() / @Model.TodayResults.Select(a => a.AlanT).Sum()</h2>
                        <p class="text-white mb-0">Adet / m²</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-cube"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-2">
                <div class="card-body">
                    <h3 class="card-title text-white">Süreler<span class="pull-right" style="font-size:14px; color:lightgray; -webkit-transform: rotate(+30deg); margin-bottom:10px;">Bugün</span></h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@Model.TodayResults.Select(a => a.SureT).Sum() / @Model.TodayResults.Select(a => a.SureR).Sum() </h2>
                        <p class="text-white mb-0">Tarama (dak) / Rapor (dak)</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-clock-o"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-3">
                <div class="card-body">
                    <h3 class="card-title text-white">Panel Tarama<span class="pull-right" style="font-size:14px; color:lightgray; -webkit-transform: rotate(+30deg); margin-bottom:10px;">Bugün</span></h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@Model.TodayResults.Where(a => a.MalzemeT == "BETON").Select(a => a.PozBarkodT).Count() / @Model.TodayResults.Where(a => a.MalzemeT == "BETON").Select(a => a.AlanT).Sum()</h2>
                        <p class="text-white mb-0">Adet / m²</p>
                    </div>
                    <span class="float-right display-5 opacity-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-bricks" viewBox="0 0 16 16">
                            <path d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2h5V1h-5zm6 0v2H15V1h-3.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z" />
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-4">
                <div class="card-body">
                    <h3 class="card-title text-white">Onaylanan Kalıp<span class="pull-right" style="font-size:14px; color:lightgray; -webkit-transform: rotate(+30deg); margin-bottom:10px;">Bugün</span></h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@Model.TodayResults.Where(a => a.DurumT == "OK" && a.MalzemeT != "BETON").Select(a => a.IDT).Count() / @Model.TodayResults.Where(a => a.DurumT == "OK" && a.MalzemeT != "BETON").Select(a => a.AlanT).Sum()</h2>
                        <p class="text-white mb-0">Adet / m²</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-check-circle"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body pb-0 d-flex justify-content-between">
                            <div>
                                <h4 class="mb-1">Tarama Sayı Grafiği</h4>
                                <p>Bu Hafta</p>
                            </div>

                        </div>
                        <div class="chart-wrapper">
                            <canvas id="anaChart"></canvas>
                        </div>
                        <div class="card-body" style="padding-bottom:15px;">
                            <div class="d-flex justify-content-between">
                                <div class="ml-2 w-100">
                                    <h5 style=" margin-left:7px;">Ana Kalıphane</h5>
                                    <div class="p-2" style="margin-right:35px;">
                                        <h4 style="color:#FF5E5E">@Model.TodayResults.Where(a => a.TeslimT == "HOL-6").Select(a => a.IDT).Count() / @Model.LastWeekResults.Where(a => a.TeslimT == "HOL-6").Select(a => a.PozBarkodT).Count()</h4>
                                        <h6>Tarama Adedi <span class="pull-right" style="font-weight:bold; font-size:17px; color:#FF5E5E">@ViewBag.sonuc6TumHafta%</span></h6>
                                        <div class="progress mr-6" style="height: 8px">
                                            <div class="progress-bar bg-danger" style="width: @ViewBag.sonuc6TumHafta%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ml-2 w-100">
                                    <h5 style=" margin-left:26px;">UHPC Kalıphane</h5>
                                    <div class="p-2" style="margin-left:20px;">
                                        <h4 style="color:#F29D56">@Model.TodayResults.Where(a => a.TeslimT == "HOL-9").Select(a => a.IDT).Count() / @Model.LastWeekResults.Where(a => a.TeslimT == "HOL-9").Select(a => a.PozBarkodT).Count()</h4>
                                        <h6>Tarama Adedi <span class="pull-right" style="font-weight:bold; font-size:17px; color:#F29D56">@ViewBag.sonuc9TumHafta%</span></h6>
                                        <div class="progress mr-6" style="height: 8px">
                                            <div class="progress-bar bg-warning" style="width: @ViewBag.sonuc9TumHafta%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cihazların Haftalık Tarama Grafiği</h4>
                    <p>Bu Hafta</p>
                    <div id="morris-dashboard-cihaz"></div>
                </div>
            </div>
        </div>

        @{

            double YuzdeHesap(double a, double b)
            {
                if (a != 0)
                {
                    double sonuc = ((a / b) * 100);
                    sonuc = Math.Round(sonuc, 0);
                    return sonuc;
                }
                else
                {
                    return 0;
                }

            }
        }

        <div class="col-lg-3 col-md-6">
            <div class="card card-widget">
                <div class="card-body">
                    <h5 class="card-title">Hollere Göre Tarama-Hata Dağılımı</h5>
                    <h6 class="text-muted">Bugün</h6>
                    <span>Adet / Hata</span>
                    <div class="mt-4">
                        <h4>@Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "UHPC").Select(a => a.IDT).Count()  / @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "UHPC" && a.DurumT == "RED").Select(a => a.IDT).Count() </h4>
                        <h6>UHPC Döküm Holü <span class="pull-right">@YuzdeHesap(@Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "UHPC" && a.DurumT == "RED").Select(a => a.IDT).Count(), @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "UHPC").Select(a => a.IDT).Count())%</span></h6>
                        <div class="progress mb-3" style="height: 7px">
                            <div class="progress-bar bg-primary" style="width: @YuzdeHesap(@Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "UHPC" && a.DurumT == "RED").Select(a => a.IDT).Count(), @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "UHPC").Select(a => a.IDT).Count())%;" role="progressbar">
                                <span class="sr-only">@YuzdeHesap(@Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "UHPC" && a.DurumT == "RED").Select(a => a.IDT).Count(), @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "UHPC").Select(a => a.IDT).Count())% Order</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4>@Model.TodayResults.Where(a => a.KonuT == "KALIP TOPLAMA" && a.DökümT == "UHPC").Select(a => a.IDT).Count()  / @Model.TodayResults.Where(a => a.KonuT == "KALIP TOPLAMA" && a.DökümT == "UHPC" && a.DurumT == "RED").Select(a => a.IDT).Count()</h4>
                        <h6 class="m-t-10">UHPC Kalıphane<span class="pull-right">@YuzdeHesap(@Model.TodayResults.Where(a => a.KonuT == "KALIP TOPLAMA" && a.DökümT == "UHPC" && a.DurumT == "RED").Select(a => a.IDT).Count(), @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "UHPC").Select(a => a.IDT).Count())%</span></h6>
                        <div class="progress mb-3" style="height: 7px">
                            <div class="progress-bar bg-success" style="width: @YuzdeHesap(@Model.TodayResults.Where(a => a.KonuT == "KALIP TOPLAMA" && a.DökümT == "UHPC" && a.DurumT == "RED").Select(a => a.IDT).Count(), @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "UHPC").Select(a => a.IDT).Count())%" role="progressbar">
                                <span class="sr-only">@YuzdeHesap(@Model.TodayResults.Where(a => a.KonuT == "KALIP TOPLAMA" && a.DökümT == "UHPC" && a.DurumT == "RED").Select(a => a.IDT).Count(), @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "UHPC").Select(a => a.IDT).Count())% Order</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4>@Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "GRC").Select(a => a.IDT).Count()  / @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "GRC" && a.DurumT == "RED").Select(a => a.IDT).Count() </h4>
                        <h6>GRC Döküm Holü <span class="pull-right">@YuzdeHesap(@Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "GRC" && a.DurumT == "RED").Select(a => a.IDT).Count(), @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "GRC").Select(a => a.IDT).Count())%</span></h6>
                        <div class="progress mb-3" style="height: 7px">
                            <div class="progress-bar bg-primary" style="width: @YuzdeHesap(@Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "GRC" && a.DurumT == "RED").Select(a => a.IDT).Count(), @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "GRC").Select(a => a.IDT).Count())%;" role="progressbar">
                                <span class="sr-only">@YuzdeHesap(@Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "GRC" && a.DurumT == "RED").Select(a => a.IDT).Count(), @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "GRC").Select(a => a.IDT).Count())% Order</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4>@Model.TodayResults.Where(a => a.KonuT == "KALIP TOPLAMA" && a.DökümT == "GRC").Select(a => a.IDT).Count()  / @Model.TodayResults.Where(a => a.KonuT == "KALIP TOPLAMA" && a.DökümT == "GRC" && a.DurumT == "RED").Select(a => a.IDT).Count()</h4>
                        <h6 class="m-t-10">GRC Kalıphane<span class="pull-right">@YuzdeHesap(@Model.TodayResults.Where(a => a.KonuT == "KALIP TOPLAMA" && a.DökümT == "GRC" && a.DurumT == "RED").Select(a => a.IDT).Count(), @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "GRC").Select(a => a.IDT).Count())%</span></h6>
                        <div class="progress mb-3" style="height: 7px">
                            <div class="progress-bar bg-success" style="width: @YuzdeHesap(@Model.TodayResults.Where(a => a.KonuT == "KALIP TOPLAMA" && a.DökümT == "GRC" && a.DurumT == "RED").Select(a => a.IDT).Count(), @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "GRC").Select(a => a.IDT).Count())%" role="progressbar">
                                <span class="sr-only">@YuzdeHesap(@Model.TodayResults.Where(a => a.KonuT == "KALIP TOPLAMA" && a.DökümT == "GRC" && a.DurumT == "RED").Select(a => a.IDT).Count(), @Model.TodayResults.Where(a => a.KonuT == "DÖKÜM ÖNCESİ" && a.DökümT == "GRC").Select(a => a.IDT).Count())% Order</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Son Hareketler</h4>
                    <div id="activity">
                        @foreach (var item in Model.LastTenActivity)
                        {
                            <div class="media border-bottom-1 pt-3 pb-3">
                                @if (item.Durum == "OK")
                                {
                                    <img width="25" src="~/Content/icons/ok_48px.png" class="mr-3 rounded-circle" />
                                }
                                @if (item.Durum == "RED")
                                {
                                    <img width="25" src="~/Content/icons/cancel_48px.png" class="mr-3 rounded-circle">
                                }
                                <div class="media-body">
                                    <h5 style="color:dimgray">@item.Proje</h5>
                                    <p class="mb-0">
                                        projesine ait <span class="bold">@item.Poz</span> numaralı kalıp, <span class="bold">@item.Sayi</span>.kez
                                        @if (item.Konu == "DÖKÜM ÖNCESİ")
                                        {<span>döküm holünde</span>}
                                        @if (item.Konu == "KALIP TOPLAMA")
                                        {<span>kalıphanede</span>}
                                        tarandı ve
                                        @if (item.Durum == "RED")
                                        {<span style="color:red;font-weight:bold">@item.Durum</span>} @if (item.Durum == "OK")
                                        {<span style="color:forestgreen;font-weight:bold">@item.Durum</span>} verildi.
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tarama Kayıtları</h4>
                    <p>Bugün</p>
                    <div class="table-responsive">
                        <table id="veri" class="table table-bordered zero-configuration">
                            <thead>
                                <tr style="background-color:#7571F9;color:floralwhite">
                                    <th>Tarih</th>
                                    <th>Proje</th>
                                    <th>Poz</th>
                                    <th>Malzeme</th>
                                    <th>Yüzey</th>
                                    <th>Döküm</th>
                                    <th>Cihaz</th>
                                    <th>Talep</th>
                                    <th>Tarama Süresi</th>
                                    <th>Teslim</th>
                                    <th>Kaçıncı Tarama</th>
                                    <th>Durum</th>
                                    <th>-</th>
                                </tr>
                            </thead>
                            <tbody style="color:black">
                                @foreach (var item in Model.TodayResults)
                                {
                                    <tr>
                                        <td>@item.TarihT</td>
                                        <td>@item.ProjeT</td>
                                        <td>@item.PozT</td>
                                        <td>@item.MalzemeT</td>
                                        <td>@item.YüzeyT</td>
                                        <td>@item.DökümT</td>
                                        <td>@item.CihazT</td>
                                        <td>@item.KonuT</td>
                                        <td>@item.SureT</td>
                                        @if (item.TeslimT == null)
                                        {
                                            <td><span class="label label-warning">——</span></td>
                                        }
                                        else
                                        {
                                            <td>@item.TeslimT</td>
                                        }
                                        <td>@item.SayıT</td>

                                        @if (item.DurumT == "OK")
                                        {
                                            <td><span class="label label-success">O.K</span></td>
                                        }
                                        @if (item.DurumT == "RED")
                                        {
                                            <td><span class="label label-danger">RED</span></td>
                                        }
                                        @if (item.DurumT == "BOŞ")
                                        {
                                            <td><span class="label label-warning">——</span></td>
                                        }
                                        @{

                                            var base1 = Convert.ToBase64String(item.ResimT1);
                                            var r1 = string.Format("data:image/gif;base64,{0}", base1);


                                            var base2 = (string)null;
                                            var resim2 = (string)null;

                                            if (item.ResimT2 != null)
                                            {
                                                base2 = Convert.ToBase64String(item.ResimT2);
                                                var r2 = string.Format("data:image/gif;base64,{0}", base2);
                                                resim2 = r2;
                                            }

                                            var base3 = (string)null;
                                            var resim3 = (string)null;

                                            if (item.ResimT3 != null)
                                            {
                                                base3 = Convert.ToBase64String(item.ResimT3);
                                                var r3 = string.Format("data:image/gif;base64,{0}", base3);
                                                resim3 = r3;
                                            }

                                            var base4 = (string)null;
                                            var resim4 = (string)null;

                                            if (item.ResimT4 != null)
                                            {
                                                base4 = Convert.ToBase64String(item.ResimT4);
                                                var r4 = string.Format("data:image/gif;base64,{0}", base4);
                                                resim4 = r4;
                                            }

                                            var base5 = (string)null;
                                            var resim5 = (string)null;

                                            if (item.ResimT5 != null)
                                            {
                                                base5 = Convert.ToBase64String(item.ResimT5);
                                                var r5 = string.Format("data:image/gif;base64,{0}", base5);
                                                resim5 = r5;
                                            }

                                            var base6 = (string)null;
                                            var resim6 = (string)null;

                                            if (item.ResimT6 != null)
                                            {
                                                base6 = Convert.ToBase64String(item.ResimT6);
                                                var r6 = string.Format("data:image/gif;base64,{0}", base6);
                                                resim6 = r6;
                                            }

                                            var base7 = (string)null;
                                            var resim7 = (string)null;

                                            if (item.ResimT7 != null)
                                            {
                                                base7 = Convert.ToBase64String(item.ResimT7);
                                                var r7 = string.Format("data:image/gif;base64,{0}", base7);
                                                resim7 = r7;
                                            }

                                            var base8 = (string)null;
                                            var resim8 = (string)null;

                                            if (item.ResimT8 != null)
                                            {
                                                base8 = Convert.ToBase64String(item.ResimT8);
                                                var r8 = string.Format("data:image/gif;base64,{0}", base8);
                                                resim8 = r8;
                                            }

                                            var base9 = (string)null;
                                            var resim9 = (string)null;

                                            if (item.ResimT9 != null)
                                            {
                                                base9 = Convert.ToBase64String(item.ResimT9);
                                                var r9 = string.Format("data:image/gif;base64,{0}", base9);
                                                resim9 = r9;
                                            }


                                            var base10 = (string)null;
                                            var resim10 = (string)null;

                                            if (item.ResimT10 != null)
                                            {
                                                base10 = Convert.ToBase64String(item.ResimT10);
                                                var r10 = string.Format("data:image/gif;base64,{0}", base10);
                                                resim10 = r10;
                                            }

                                        }
                                        <td><a data-toggle="modal" data-barkod="@item.BarkodT" data-not="@item.TNot" data-name="@item.PozT" data-pro="@item.ProjeT" data-yuzey="@item.YüzeyT" data-mal="@item.MalzemeT" data-count="@item.SayıT" data-dokum="@item.DökümT" data-durum="@item.DurumT" data-metrekare="@item.AlanT" data-reporter="@item.RaporT" data-pic1="@r1" data-pic2="@resim2" data-pic3="@resim3" data-pic4="@resim4" data-pic5="@resim5" data-pic6="@resim6" data-pic7="@resim7" data-pic8="@resim8" data-pic9="@resim9" data-pic10="@resim10" class="open-Scan btn btn-primary" href="#openScan">Sonuç</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="openScan" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sonuç Görüntüle</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="mb-4 ml-3">
                        Raporu Hazırlayan: <input id="scanReporter" style="border:0px none;" />
                    </div>
                </div>
                <div class="accordion" id="accordion-one">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Not:
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <input id="scanNot" class="form-control" style="border:0px none;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tarama Sonucu</h4>
                                <div class="bootstrap-carousel">
                                    <div id="carousel-1" class="carousel slide" data-interval="false">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" id="scanPic1" alt="Resim-1">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" id="scanPic2" alt="Resim-2">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" id="scanPic3" alt="Resim-3">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" id="scanPic4" alt="Resim-4">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" id="scanPic5" alt="Resim-5">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" id="scanPic6" alt="Resim-6">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" id="scanPic7" alt="Resim-7">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" id="scanPic8" alt="Resim-8">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" id="scanPic9" alt="Resim-9">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" id="scanPic10" alt="Resim-10">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev d-none" href="#carousel-1" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next d-none" href="#carousel-1" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Çıkış</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", ".open-Scan", function () {

        //Bilgiler
        var scanBarkod = $(this).data('barkod');
        $(".modal-body #scanBarkod").val(scanBarkod);
        var scanName = $(this).data('name');
        $(".modal-body #scanName").val(scanName);
        var scanPro = $(this).data('pro');
        $(".modal-body #scanPro").val(scanPro);
        var scanYuzey = $(this).data('yuzey');
        $(".modal-body #scanYuzey").val(scanYuzey);
        var scanMal = $(this).data('mal');
        $(".modal-body #scanMal").val(scanMal);
        var scanDokum = $(this).data('dokum');
        $(".modal-body #scanDokum").val(scanDokum);
        var scanMetrekare = $(this).data('metrekare');
        $(".modal-body #scanMetrekare").val(scanMetrekare);
        var scanDurum = $(this).data('durum');
        $(".modal-body #scanDurum").val(scanDurum);
        var scanCount = $(this).data('count');
        $(".modal-body #scanCount").val(scanCount);
        var scanNot = $(this).data('not');
        $(".modal-body #scanNot").val(scanNot);
        var scanReporter = $(this).data('reporter');
        $(".modal-body #scanReporter").val(scanReporter);


        var scanPic1 = $(this).data('pic1');
        $(".modal-body #scanPic1").attr('src', scanPic1);
        var scanPic2 = $(this).data('pic2');
        $(".modal-body #scanPic2").attr('src', scanPic2);
        var scanPic3 = $(this).data('pic3');
        $(".modal-body #scanPic3").attr('src', scanPic3);
        var scanPic4 = $(this).data('pic4');
        $(".modal-body #scanPic4").attr('src', scanPic4);
        var scanPic5 = $(this).data('pic5');
        $(".modal-body #scanPic5").attr('src', scanPic5);
        var scanPic6 = $(this).data('pic6');
        $(".modal-body #scanPic6").attr('src', scanPic6);
        var scanPic7 = $(this).data('pic7');
        $(".modal-body #scanPic7").attr('src', scanPic7);
        var scanPic8 = $(this).data('pic8');
        $(".modal-body #scanPic8").attr('src', scanPic8);
        var scanPic9 = $(this).data('pic9');
        $(".modal-body #scanPic9").attr('src', scanPic9);
        var scanPic10 = $(this).data('pic10');
        $(".modal-body #scanPic10").attr('src', scanPic10);


        var carouselLength = $('.carousel-item').length - 1;


        if (carouselLength) {
            $('.carousel-control-next').removeClass('d-none');
        }

        $('.carousel').carousel({
            interval: false,
            wrap: false
        }).on('slide.bs.carousel', function (e) {

            if (e.to == 0) {
                $('.carousel-control-prev').addClass('d-none');
                $('.carousel-control-next').removeClass('d-none');
            }
            else if (e.to == carouselLength) {
                $('.carousel-control-prev').removeClass('d-none');
                $('.carousel-control-next').addClass('d-none');
            }
            else {
                $('.carousel-control-prev').removeClass('d-none');
                $('.carousel-control-next').removeClass('d-none');
            }
        });



    });

</script>

<script src="~/quixlab-master/quixlab-master/plugins/common/common.min.js"></script>


<script>
    $('#veri').dataTable({
        autoFill: true,
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
        }
    })
</script>

<!-- View içerisinde -->
<script type="text/javascript">
    var groupedData = @Html.Raw(Json.Encode(Model.LastWeekResults.GroupBy(a => a.TarihT.Date).Select(g => new
    {
        Tarih = g.Key.DayOfWeek.ToString(),
        MetraScan = g.Where(a => a.CihazT == "METRASCAN").Select(a => a.IDT).Count(),
        Black = g.Where(a => a.CihazT == "BLACK ELİTE").Select(a => a.IDT).Count()
    }).ToList()));
</script>

<script>



    @*var allDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];

    var groupedData = @Html.Raw(Json.Encode(Model.LastWeekResults.GroupBy(a => a.TarihT.Date).Select(g => new
    {
        Tarih = g.Key.DayOfWeek.ToString(),
        MetraScan = g.Where(a => a.CihazT == "METRASCAN").Select(a => a.IDT).Count(),
        Black = g.Where(a => a.CihazT == "BLACK ELİTE").Select(a => a.IDT).Count()
    }).ToList()));

    // Her gün için kayıt olup olmadığını kontrol edin ve eksik günler için kayıtlar ekleyin
    allDays.forEach(function(day) {
        if (!groupedData.some(item => translateDay(item.Tarih) === translateDay(day))) {
            groupedData.push({
                Tarih: day,
                MetraScan: 0,
                Black: 0
            });
        }
    });*@

    //// Bugünün gün numarasını al
    //var todayDayNumber = new Date().getDay();
    //// Günleri sayısal değerlere çevir
    //function getDayNumber(day) {
    //    var days = { "Sunday": 0, "Monday": 1, "Tuesday": 2, "Wednesday": 3, "Thursday": 4, "Friday": 5, "Saturday": 6 };
    //    return days[day];
    //}
    //// groupedData içindeki her bir elemana dayNumber ekleyin ve sıralayın
    //groupedData.forEach(function (item) {
    //    item.dayNumber = getDayNumber(item.Tarih);
    //});
    //groupedData.sort(function (a, b) {
    //    // Bugünün gününe göre sıralayarak bugünü sona alın
    //    return (7 + a.dayNumber - todayDayNumber) % 7 - (7 + b.dayNumber - todayDayNumber) % 7;
    //});

    //var today = new Date().getDay();
    //var todayDataIndex = groupedData.findIndex(item => item.dayNumber === today);
    //var todayData = groupedData.splice(todayDataIndex, 1)[0];
    //groupedData.push(todayData);

    //// İngilizce gün adlarını Türkçe'ye çeviren bir fonksiyon
    //function translateDay(day) {
    //    var days = { "Monday": "Pzt", "Tuesday": "Salı", "Wednesday": "Çrş", "Thursday": "Perş", "Friday": "Cuma", "Saturday": "Cmt", "Sunday": "Pazar" };
    //    return days[day] || day;
    //}

    //Morris.Bar({
    //    element: 'morris-dashboard-cihaz',
    //    data: groupedData.map(function (item) {
    //        return {
    //            y: translateDay(item.Tarih),
    //            MetraScan: item.MetraScan,
    //            Black: item.Black
    //        };
    //    }),
    //    xkey: 'y',
    //    ykeys: ['MetraScan', 'Black'],
    //    labels: ['MetraSCAN', 'Black Elite'],
    //    barColors: ['#FC6C8E', '#7571f9'],
    //    hideHover: 'auto',
    //    gridLineColor: 'transparent',
    //    resize: true
    //});

</script>




<script>
    (function ($) {
        "use strict"

        var taramaSayilari = @Html.Raw(Json.Encode(ViewBag.TaramaVerileri));

        // Gün adlarını ve sayıları al
        var labels = taramaSayilari.map(function (item) { return item.GunAdi; });
        var data = taramaSayilari.map(function (item) { return item.Sayi; });

        let ctx = document.getElementById("anaChart");
        ctx.height = 280;
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                type: 'line',
                defaultFontFamily: 'Montserrat',
                datasets: [{
                    data: data,
                    label: "Toplam Tarama Adedi",
                    backgroundColor: '#847DFA',
                    borderColor: '#847DFA',
                    borderWidth: 0.5,
                    pointStyle: 'circle',
                    pointRadius: 5,
                    pointBorderColor: 'transparent',
                    pointBackgroundColor: '#847DFA',
                    tension: 0.4,
                    fill: true,

                },]
            },
            options: {
                responsive: !0,
                maintainAspectRatio: false,
                tooltips: {
                    mode: 'index',
                    titleFontSize: 12,
                    titleFontColor: '#000',
                    bodyFontColor: '#000',
                    backgroundColor: '#fff',
                    titleFontFamily: 'Montserrat',
                    bodyFontFamily: 'Montserrat',
                    cornerRadius: 3,
                    intersect: false,
                },
                legend: {
                    display: false,
                    position: 'top',
                    labels: {
                        usePointStyle: true,
                        fontFamily: 'Montserrat',
                    },


                },
                scales: {
                    xAxes: [{
                        display: false,
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        scaleLabel: {
                            display: false,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: false,
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                },
                title: {
                    display: false,
                }
            }
        });


    })(jQuery);
</script>


<script>
    $('#activity').slimscroll({
        position: "right",
        size: "5px",
        height: "390px",
        color: "transparent"
    });
</script>

<script src="~/Content/jsFile/Tarama/DashboardCharts.js"></script>